body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  
}
.parent{
  display: flex;
  flex-wrap: wrap;
}
.border{
  background-color: rgb(245, 238, 238);
  height: 270px;
  width: 230px;
  align-content: center;
  border-radius: 20px;
  margin: 50px;
   box-shadow: 0px 4px 10px rgb(138, 135, 134);
   
   
}
img{
  height: 70px;
  width: 70px;
  border-radius: 50% ;
  display: block;
  margin: auto;
  
  
}
.heading h2{
  display: flex;
  justify-content: center;
  color: white;
  
}
.heading p{
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  color: aliceblue;
  

}
/* .details p {
  display: flex;
  justify-content: center;   
  align-items: center;       
  font-size: 10px;
  padding: 5px;
  margin: 5px;
} */
.details {
  width: 230px;        
  margin: 0 auto; 
  
}

.details p {
  text-align:  center;   
  font-size: 10px;
  padding: 5px;
  margin: 5px;
  
}

.friends{
  color: purple;
  display: flex;
  justify-content: center;
  font-weight: 400px;
  font-size: 10px;
}

